<a href="https://colab.research.google.com/github/sriaravinddesamsetti/FML/blob/main/lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cross Validate the model for Company dataset**

Import all libraries need to fit and predict the data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

read the CSV file using pandas

The head method is used to display the first five rows

In [6]:
data = pd.read_csv("company.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

Now remove the label data from the input data

In [7]:
X = data.drop('Sales', axis=1).values
y = data['Sales'].values

Now split the data into training data and testing data in that 20% of data comes under training data and remaining 80% of data comes under the training data

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Fitting a Ridge regression model

In [9]:
reg = Lasso(alpha = 0.1)
reg.fit(X_train, y_train)

Lasso(alpha=0.1)

Evaluating the model on training data only

In [10]:
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 1.235306732011464
MSE = 2.6761953409515002
RMSE = 1.635908108957071
R_2 = 0.9001396346012004

Evaluating the model on testing  data only

In [11]:
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

MAE = 1.274175466196396
MSE = 2.9093222519953077
RMSE = 1.705673547896932
R_2 = 0.9058505279101615

**CONCLUSION** : We can say that testing data fits for the LinearRegression model using lasso regression.