<a href="https://colab.research.google.com/github/sriaravinddesamsetti/FML/blob/main/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Diabetes Prediction Classifier using Logistic Regression.**

Import Packages, Functions and classes

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

read the CSV file using pandas

The head method is used to display the first five rows

In [2]:
data=pd.read_csv("https://assets.datacamp.com/production/repositories/628/datasets/444cdbf175d5fbf564b564bd36ac21740627a834/diabetes.csv")
data.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Now remove the label data from the input data

In [3]:
X = data.drop('diabetes', axis=1).values
y = data['diabetes'].values

Now split the data into training data and testing data

In [4]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.02, random_state=0)

Scale the training data such that the mean of each column becomes equal to zero, and the standard deviation of each column is one.

In [5]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

Fit the hyper-parameter(c) and training data.

In [6]:
model = LogisticRegression(C=0.09,random_state=41)
model.fit(X_train, y_train)

LogisticRegression(C=0.09, random_state=41)

Scale the testing data

In [7]:
X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)

Measure the performance of Training data.

In [8]:
model.score(X_train, y_train)

0.7726063829787234

Measure the performance of Testing data.

In [9]:
model.score(X_test, y_test)

1.0

Build a Confusion matrix for actual label data and predicted label data.

In [10]:
confusion_matrix(y_test, y_pred)

array([[10,  0],
       [ 0,  6]])

Find all the evaluation metrics like accuracy,precision,recall and f1-score

In [11]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         6

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

**CONCLUSION** : We can say that our model perform well.